<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <!-- Initializing Experience Analytics Web API -->
        <processor patch:instead="processor[@type='Sitecore.MediaFramework.Pipelines.Initialize.WebApiInitializer, Sitecore.MediaFramework']" type="Sitecore.Support.MediaFramework.Pipelines.Initialize.WebApiInitializer, Sitecore.Support.177012" />
      </initialize>
    </pipelines>

    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <reportsController>Sitecore.Support.MediaFramework.Analytics.Dashboard.MediaFrameworkReportsController, Sitecore.Support.177012</reportsController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>